<li class="fr-my-1w">
  <p class="formula">
    <span class="fr-col-1 fr-text--sm">
      <%= category.toUpperCase() %>&nbsp;:&nbsp;
    </span>
    <span class="captioned-value fr-col-3">
      <span class="v fr-text--lg"><%= formatNumber(stock[`${category}LocalHarvestTotal`]) %></span>
      <span class="c fr-text--sm">local (m<sup>3</sup>/an)</span>
    </span>
    <span class="fr-col-1" style="text-align: center;">/</span>
    <span class="captioned-value fr-col-4">
      <span class="v fr-text--lg"><%= formatNumber(stock[`${category}FranceHarvestTotal`]) %></span>
      <span class="c fr-text--sm">France (m<sup>3</sup>/an)</span>
    </span>
    <span class="fr-col-1" style="text-align: center;">≈</span>
    <span class="captioned-value fr-col-3">
      <span class="v fr-text--lg"><%= formatNumber(stock[`${category}Portion`] * 100, 3) %></span>
      <span class="c fr-text--sm">récolte (%)</span>
    </span>
  </p>
</li>