.rf-centered {
  text-align: center;
}

.rf-bg--alt, .rf-bg--alt h2 {
  background-color: var(--bf500);
  color: var(--g100);
}
p.rf-hint-text {
  margin-bottom: 0;
}
.tofill {
  background-color: #fffacd;
  font-weight: lighter;
  padding: .1em .2em;
}
span.tofill::after {
  content: "]";
}
span.tofill::before {
  content: "[";
}
/* ADEME logo */
.fr-header__operator {
  max-width: 5.8rem;
  padding-top: 1.2em;
}
.fr-footer__logo {
  max-width: 6.5rem;
  padding-top: 0.2rem;
  margin-left: 2rem;
}