table.detail-table {
  /* dsfr changes this to block, but want fixed width when expanding rows */
  display: table;
}

tr.stocks-row {
  display: grid;
  grid-template-columns: 1fr repeat(3, 0.9fr) 0.5fr;
  justify-content: flex-start;
}

tr.flux-row {
  display: grid;
  grid-template-columns: 0.9fr 0.7fr 1fr 0.3fr;
  justify-content: flex-start;
}

tr.expandable-row {
  cursor: pointer;
}

tr.expandable-row:hover {
  background-color: #E9EDFE !important;
}

.expanded-row-content {
  border-top: none;
  display: grid;
  grid-column: 1/-1;
  justify-content: flex-start;
  background-color: #fff;
  cursor: default;
}

.hide-row {
  display: none !important;
}

.formula {
  display: flex;
  align-items: center;
}

.captioned-value {
  display: flex;
  flex-direction: column;
}

.hyphenate {
  overflow-wrap: break-word;
  hyphens: auto;
}

th.flux-surface-col {
  min-width: 9em;
}

@media print {
  header {
    display: none;
  }

  .no-print {
    display: none;
  }

  footer {
    display: none;
  }

  .fr-collapse {
    display: block;
  }
}