table.detail-table {
  /* dsfr changes this to block, but want fixed width when expanding rows */
  display: table;
}

tr.stocks-row {
  display: grid;
  grid-template-columns: 1fr 0.6fr 0.9fr 0.9fr 0.5fr;
  justify-content: flex-start;
}

tr.flux-row {
  display: grid;
  grid-template-columns: 0.9fr 0.7fr 1fr 0.3fr;
  justify-content: flex-start;
}

tr.expandable-row {
  cursor: pointer;
}

tr.expandable-row:hover {
  /* blue-cumulus-950 */
  background-color: #e6eefe !important;
}

.expanded-row-content {
  border-top: none;
  display: grid;
  grid-column: 1/-1;
  justify-content: flex-start;
  background-color: #fff;
  cursor: default;
}

.hide-row {
  display: none !important;
}

.formula {
  display: flex;
  align-items: center;
}

.captioned-value {
  display: flex;
  flex-direction: column;
}

.hyphenate {
  overflow-wrap: break-word;
  hyphens: auto;
}

th.flux-surface-col {
  min-width: 9em;
}

/* inbetween fr-col-1 and fr-col-2 */
.my-col-1-5 {
  flex: 0 0 13%;
  max-width: 13%;
  width: 13%;
}
