<%- include('partials/header') -%>
<main role="main" id="contenu">
  <div class="fr-container fr-py-6w fr-px-2w">

    <h1>Découvrez le carbone stocké sur votre territoire</h1>

    <div class="fr-container-fluid fr-my-6w">
      <div class="fr-grid-row fr-grid-row--gutters">
        <form action="/territoire" method="GET">
        <div class="fr-search-bar fr-search-bar--lg" id="search-2" role="search">
          <label class="fr-label" for="epci-search">
              Nom EPCI
          </label>
          <input class="fr-input" placeholder="Nom EPCI" type="search" id="epci-search" name="epci" list="epci-names" required>
          <button class="fr-btn" title="Rechercher">
              Rechercher
          </button>
          <datalist id="epci-names">
            <% for (let index = 0; index < epcis.length; index++) {%>
              <option value="<%= epcis[index].nom %>"><%= epcis[index].nom %></option>
            <%} %>
          </datalist>
       </div>
      </form>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>
