<%- include('partials/header') -%>
<main role="main" id="contenu">
  <div class="fr-container fr-pb-6w fr-px-2w">
    <%- include('./partials/ariane', { items: [ { label: 'Accueil', url: '/' }, { label: 'EPCI inconnu', }, ], }) -%>

    <h1 class="fr-mt-6w">Page pas trouvée</h1>

    <p>Nous n'avons pas trouvé un EPCI avec le nom ou SIREN « <%= attemptedSearch %> ». Veuillez rechercher à nouveau.</p>
    <%- include('partials/search-lg') -%>

    <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="/">
      Revenir à la page d'acceuil
    </a>
  </div>
</main>