<%- include('partials/search-header') -%>
<main role="main" id="contenu">
  <div class="fr-container fr-py-6w fr-px-2w">

    <h1>Page pas trouvée</h1>

    <p>Nous n'avons pas trouvé un EPCI avec le nom ou SIREN « <%= attemptedSearch %> ». Veuillez rechercher à nouveau.</p>
    <%- include('partials/search-lg') -%>

    <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="/">
      Revenir à la page d'acceuil
    </a>
  </div>
</main>
