<%- include('partials/search-header') -%>
<main role="main" id="contenu">
  <div class="fr-container fr-py-6w fr-px-2w">

    <h1>Page pas trouvée</h1>

    <p>Cette page n'existe pas.</p>

    <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="/">
      Revenir à la page d'acceuil
    </a>
  </div>
</main>
