<%- include('partials/header') -%>
<main role="main" id="contenu">
  <div class="fr-container fr-py-6w fr-px-2w">

    <div class="fr-py-6w">
      <h1>Calculer le stock et les flux de carbone sur votre territoire</h1>

      <%- include('partials/search-lg') -%>
    </div>

    <h2>ALDO : qu'est-ce que c'est ?</h2>
    <p>L'outil ALDO est un outil ADEME. Simple d’utilisation, open-source et accessible en ligne, il est disponible gratuitement et sans téléchargement.</p>
    <p>
      Les sols et les végétaux stockent une grande quantité de carbone. A l’échelle globale, ces réservoirs de carbone stockent, dans la la matière organique des sols,
      la litière et la biomasse vivante ou morte (y compris les produits matériaux issus de la biomasse), 3 à 4 fois plus de carbone que l’atmosphère !
    </p>
    <p>
      Toute variation négative ou positive de ces stocks, même relativement faible, peut influer sur les concentrations de gaz à effet de serre dans l’atmosphère
      (en jouant un rôle de source ou de puits de carbone). Une réduction des stocks génère une source de carbone (émission de carbone vers l'atmosphère)
      et à l'inverse une augmentation des stocks génère un puits de carbone (séquestration nette de CO2).
      La séquestration nette de CO2 est donc un flux net positif de l’atmosphère vers ces réservoirs qui se traduit au final par une diminution du CO2 atmosphérique.
    </p>
    <p>L’estimation territoriale de ces flux (émissions et séquestration de carbone) se base sur les informations disponibles sur :</p>
    <ul>
      <li>les changements d’affectation des sols (ex : artificialisation des sols, mise en culture de prairies permanente, défrichements et boisements),</li>
      <li>la dynamique forestière (accroissement biologique des végétaux, mortalité, prélèvements),</li>
      <li>les modes de gestion des milieux (ex : pratiques agricoles) qui modifient les stocks de carbone en place.</li>
    </ul>
    <p>Pour nous joindre, remplissez notre <a href="/contact">formulaire de contact</a></p>
    <p>
      <a href="https://docs.datagir.ademe.fr/documentation-aldo" target="_blank" rel="noopener noreferrer">
        En savoir plus sur l'outil ALDO
      </a>
    </p>

    <h2 class="fr-mt-8w">Actualités : Version HETRE d'avril 2023</h2>
    <p>Les données présentées ici sont :</p>
    <ul>
      <li>Pour les données surfaciques : les mêmes que dans l'ancienne version de ALDO (version EXCEL de 2021)</li>
      <li>Pour les données carbone des sols et de la biomasse hors forêt : inchangé</li>
      <li>
        Pour les données carbone de la biomasse en forêt et des produits-bois :
        <a href="https://docs.datagir.ademe.fr/documentation-aldo/introduction/sources" target="_blank" rel="noopener">
          actualisation des bases de données</a>
      </li>
      <li>Un correctif apporté sur la version HETRE de novembre 2022 concernant le calcul des flux engendrés par le réservoir biomasse lors d'une perte de surface forestière (i.e déboisement)</li>
    </ul>
    <h3 class="fr-mt-4w">Webinaire : Comprendre les changements apportés avec la digitalisation de l'outil ALDO</h3>
    <p>Mardi 7 février - 14h</p>
    <p>
      Ce webinaire sera l’occasion de vous présenter les nouvelles améliorations de l’outil ALDO liées à sa digitalisation
      et de vous faire une démonstration en live de son utilisation. L'outil évolue vers un format web pour faciliter
      et diffuser encore plus largement l’accès à ces résultats qui s'inscrivent pleinement dans la transition bas carbone du pays.
    </p>
    <p>
      <a href="https://us06web.zoom.us/webinar/register/WN_f_mMnJnjTxWuL42co4-Adw" target="_blank" rel="noopener">
        Inscrivez-vous au webinaire mardi le 7 février à 14h
      </a>
    </p>
  </div>
</main>
<%- include('partials/footer') -%>