<%- include('partials/header') -%>
<main role="main" id="contenu">
  <div class="fr-container fr-py-6w fr-px-2w">

    <div class="fr-py-6w">
      <h1>Calculer le stock et les flux de carbone sur votre territoire</h1>

      <%- include('partials/search-lg') -%>
    </div>

    <h2>ALDO : qu'est-ce que c'est ?</h2>
    <p>L'outil ALDO est un outil ADEME. Simple d’utilisation, open-source et accessible en ligne, il est disponible gratuitement et sans téléchargement.</p>
    <p>
      Les sols et les végétaux stockent une grande quantité de carbone. A l’échelle globale, ces réservoirs de carbone stockent, dans la la matière organique des sols,
      la litière et la biomasse vivante ou morte (y compris les produits matériaux issus de la biomasse), 3 à 4 fois plus de carbone que l’atmosphère !
    </p>
    <p>
      Toute variation négative ou positive de ces stocks, même relativement faible, peut influer sur les concentrations de gaz à effet de serre dans l’atmosphère
      (en jouant un rôle de source ou de puits de carbone). Une réduction des stocks génère une source de carbone (émission de carbone vers l'atmosphère)
      et à l'inverse une augmentation des stocks génère un puits de carbone (séquestration nette de CO2).
      La séquestration nette de CO2 est donc un flux net positif de l’atmosphère vers ces réservoirs qui se traduit au final par une diminution du CO2 atmosphérique.
    </p>
    <p>L’estimation territoriale de ces flux (émissions et séquestration de carbone) se base sur les informations disponibles sur :</p>
    <ul>
      <li>les changements d’affectation des sols (ex : artificialisation des sols, mise en culture de prairies permanente, défrichements et boisements),</li>
      <li>la dynamique forestière (accroissement biologique des végétaux, mortalité, prélèvements),</li>
      <li>les modes de gestion des milieux (ex : pratiques agricoles) qui modifient les stocks de carbone en place.</li>
    </ul>
    <p>Pour nous joindre, remplissez notre <a href="/contact">formulaire de contact</a></p>
    <p>
      <a href="https://aldo-documentation.territoiresentransitions.fr/aldo-documentation" target="_blank" rel="noopener noreferrer">
        En savoir plus sur l'outil ALDO
      </a>
    </p>

    <h2 class="fr-mt-8w">Actualités : Version CHANTERELLE de juin 2023</h2>
    <p>Les données présentées ici sont :</p>
    <ul>
      <li>
        Pour les données surfaciques : mise à jour de l’échelle de visualisation des résultats
        (l’échelle communale en plus de l’échelle intercommunale) pour l’ensemble des bases de données (sols, forêts, haies)
        <a href="https://aldo-documentation.territoiresentransitions.fr/aldo-documentation/complements/perimetre-et-limites#echelle-de-visualisation-des-resultats" target="_blank" rel="noopener">
          documentation
        </a>
      </li>
      <li>
        Pour les données surfaciques et carbones des haies : nouvelle bases de données haies utilisées
        (<a href="https://aldo-documentation.territoiresentransitions.fr/aldo-documentation/introduction/sources#donnees-surfaciques-pour-loccupation-du-sol-haies" target="_blank" rel="noopener">
          actualisation des bases de données
        </a>)
      </li>
      <li>
        Pour les données carbones : les bases de données (stocks et flux de référence à l'hectare) sont recalculées
        et exprimées à l'échelle communale
      </li>
      <li>
        Nouvelles fonctionnalités : la base intégrale ALDO est disponible au téléchargement
        (en cours de développement)
      </li>
    </ul>

    <section class="fr-accordion fr-mt-2w">
      <p class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-version-history">
          Historique
        </button>
      </p>
      <div class="fr-collapse" id="accordion-version-history">
        <h3>Version HETRE d'avril 2023</h3>
        <p>Les données présentées ici sont :</p>
        <ul>
          <li>Pour les données surfaciques : les mêmes que dans l'ancienne version de ALDO (version EXCEL de 2021)</li>
          <li>Pour les données carbone des sols et de la biomasse hors forêt : inchangé</li>
          <li>
            Pour les données carbone de la biomasse en forêt et des produits-bois :
            <a href="https://aldo-documentation.territoiresentransitions.fr/aldo-documentation/introduction/sources" target="_blank" rel="noopener">
              actualisation des bases de données</a>
          </li>
          <li>Un correctif apporté sur la version HETRE de novembre 2022 concernant le calcul des flux engendrés par le réservoir biomasse lors d'une perte de surface forestière (i.e déboisement)</li>
        </ul>
      </div>
    </section>


    <h2 class="fr-mt-8w">Webinaire : Une nouvelle version ALDO pour évaluer le carbone des sols et forêts de votre territoire !</h2>
    <p>
      Le 28 juin 2023, la version Chanterelle de l’outil ALDO, développé par l’ADEME et animé par l’ABC et l’APCC, a été présenté pour la première fois lors d’un atelier du Sommet Virtuel du Climat.
      Simple d'utilisation et open-source, ALDO fournit aux collectivités une première estimation de l'état des stocks et flux de carbone de leur territoire.
    </p>
    <p>
      La nouvelle version d'ALDO – Chanterelle – comprend entre autres une mise à jour des bases de données et la possibilité d'avoir des résultats à l'échelle communale.
      Cette version est disponible depuis début juillet pour tous les utilisateurs.
    </p>
    <p>
      <a href="https://www.youtube.com/watch?v=53j5ybckvIw" target="_blank" rel="noopener">
        Accédez au replay
      </a>
    </p>

    <section class="fr-accordion fr-mt-2w">
      <p class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-webinars">
          Historique
        </button>
      </p>
      <div class="fr-collapse" id="accordion-webinars">
        <h3>Webinaire : Comprendre les changements apportés avec la digitalisation de l'outil ALDO</h3>
        <p>Mardi 7 février 2023</p>
        <p>
          Ce webinaire sera l’occasion de vous présenter les nouvelles améliorations de l’outil ALDO liées à sa digitalisation
          et de vous faire une démonstration en live de son utilisation. L'outil évolue vers un format web pour faciliter
          et diffuser encore plus largement l’accès à ces résultats qui s'inscrivent pleinement dans la transition bas carbone du pays.
        </p>
        <p>
          <a href="https://www.youtube.com/watch?v=AmSl6Bi5U-Q" target="_blank" rel="noopener">
            Accédez au replay
          </a>
        </p>
      </div>
    </section>
  </div>
</main>
<%- include('partials/footer') -%>