<p>
    Cet outil propose des ordres de grandeurs sur les stocks et flux de carbone dans les sols et la biomasse pour
    initier une réflexion sur la gestion des sols et des forêts en lien avec les activités agricoles, sylvicoles et
    l’aménagement du territoire. Notons que toutes les valeurs moyennes de stocks de carbone et flux de référence à
    l’hectare sont calculées à l’échelle de vastes domaines géographiques : les grandes régions écologiques pour la
    biomasse forestière et les régions pédoclimatiques pour les stocks de carbone dans les sols. Si la moyenne est
    significative et statistiquement valide à ces échelles, elle peut masquer des situations locales hétérogènes.
</p>