<%- include('page-setup') -%>
<div class="fr-skiplinks">
  <nav class="fr-container" role="navigation" aria-label="Accès rapide">
      <ul class="fr-skiplinks__list">
          <li>
              <a class="fr-nav__link" href="#contenu">Contenu</a>
          </li>
          <li>
              <a class="fr-nav__link" href="#header-navigation">Menu</a>
          </li>
          <li>
              <a class="fr-nav__link" href="#footer">Pied de page</a>
          </li>
      </ul>
  </nav>
</div>

<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République
                <br>Française
              </p>
            </div>
            <div class="fr-header__operator fr-responsive-img">
              <%- include('ademe-logo') -%>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="Accueil - <%= appName %>">
              <img src="/static/images/logo_ALDO.png" class="aldo-logo" alt="ALDO : évaluez vos stocks et puits de carbone" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
