<!DOCTYPE html>
<html lang="fr" data-fr-scheme>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <% if (locals.pageTitle) { %>
      <%= pageTitle %> | <%= appName %>
    <% } else { %>
      <%= appName %>
    <% } %>
  </title>
  <meta name="theme-color" content="#000091">
  <link rel="stylesheet" href="/~/@gouvfr/dsfr/dist/dsfr/dsfr.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/css/territory.css">
  <link rel="apple-touch-icon" href="/~/@gouvfr/dsfr/dist/favicon/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="icon" type="image/png" href="https://www.ademe.fr/wp-content/uploads/2022/03/favicon.png">
  <link rel="shortcut icon" href="https://www.ademe.fr/wp-content/uploads/2022/03/favicon.png" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://stats.data.gouv.fr/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '247']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
  <% if (locals.isHomepage) { %>
    <!-- Google search console -->
    <meta name="google-site-verification" content="yIDpEPAT3r_iuEvKFkQFsL0jOmAl692ObR62Z96UBMw" />
  <% } %>
</head>
<body>
