<!DOCTYPE html>
<html lang="fr" data-fr-scheme>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <% if (locals.pageTitle) { %>
      <%= pageTitle %> | <%= appName %>
    <% } else { %>
      <%= appName %>
    <% } %>
  </title>
  <meta name="theme-color" content="#000091">
  <link rel="stylesheet" href="/~/@gouvfr/dsfr/dist/dsfr/dsfr.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/css/territory.css">
  <link rel="apple-touch-icon" href="/~/@gouvfr/dsfr/dist/favicon/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="icon" type="image/png" href="https://www.ademe.fr/wp-content/uploads/2022/03/favicon.png">
  <link rel="shortcut icon" href="https://www.ademe.fr/wp-content/uploads/2022/03/favicon.png" type="image/x-icon">
</head>
<body>
