<fieldset class="fr-fieldset">
  <legend class="fr-fieldset__legend fr-text--regular" id='radio-legend'>
    Choix de l'hypothèse sur la répartition du produit bois :
  </legend>
  <div class="fr-fieldset__content">
    <div class="fr-radio-group">
      <input
        type="radio"
        id="recolte"
        name="répartition_produits_bois"
        value="récolte"
        <% if (woodCalculation === 'récolte') { %> checked <% } %>
      >
      <label class="fr-label" for="recolte">
        <b>Récolte</b>&nbsp;approche visant à estimer la part de produits bois récoltés sur le territoire
      </label>
    </div>
    <div class="fr-radio-group">
      <input
        type="radio"
        id="consommation"
        name="répartition_produits_bois"
        value="consommation"
        <% if (woodCalculation === 'consommation') { %> checked <% } %>
      >
      <label class="fr-label" for="consommation">
        <b>Consommation</b>&nbsp;approche visant à estimer la part de produits bois consommés sur le territoire
      </label>
    </div>
  </div>
</fieldset>